# Build files
/build/
dist/
/src/cr_pulse_interpolator.egg-info/

# Python cache files
__pycache__/

# Demo files
/demo/*.h5
/demo/sample_data.txt

# Virtual environemnts
*venv*/

# Project settings

.idea/
